<% if user_signed_in? %>
  <table>
    <thead>
      <tr>
        <th>レシート</th>
        <th>購入日</th>
        <th>値段</th>
      </tr>
    </thead>
    <thead>
      <% @posts.each do |post| %>
      <tr>
        <th><%= link_to image_tag(post.image.to_s), "/posts/:id" %></th>
        <th><%= l post.buyday %></th>
        <th><%= post.price %></th>
      </tr>
      <% end %>
    </thead>
  </table>
<% else %>
  <h1>当サイトはレシートをためるストレージです。</h1>
  新規登録はこちら
<% end %>