<p>こんにちは! <%= @resource.email %>!</p>

<p>申し訳ありません。五回ログインに失敗したため、アカウントロックがかかってしまいました。</p>

<p>下記のリンクをクリックしてロックを解除してください。</p>

<p><%= link_to 'ロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
